body{
    margin: 0;
    padding: 0;   
}

main{
    /* background-color: rgba(216, 68, 68, 0.795); */
    display: flex;
    justify-content:center;
}

form{
    /* background-color: aqua; */
    width: 30%;
    /* padding: 20px 40px; */
    padding: 0px 40px 20px 40px ;
    box-sizing: border-box;
    /* overflow: hidden; */
    border: 2px solid rgb(104, 99, 99);
    margin-top: 20px;
}

img,input,a,button{
    display: block;
}

img{
    width:80%;
    height: 100px;
    margin: auto;
    margin-top: 10px;

}

input{
    width: 100%;
    height: 35px;
    margin-top: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid rgb(110, 103, 103);
}

button{
    width: 100%;
    height: 35px;
    margin-top: 20px;
    color: white;
    background-color: rgb(6, 6, 235);
    border-radius: 5px;
    border: none;
    /* margin-bottom: 20px; or above hr means margin-top for hr tag */
}

hr{
    margin-top: 40px;
}


a{
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

h4{
    position: absolute;
    top: -100%;
    left: 43%;
    background-color: white;
    padding:0px 10px;
}

#or-cont{
    position: relative;
    height: 30px;

}